# Compiled OCaml files
*.cmi
*.cmo
*.cmx
*.o
*.a
*.cmxa
*.cma

# Binary executables
test_matrix

# Other
.DS_Store

loan_data.csv
test_nn
train_loan
*.cmi
*.cmo
*.o
*.cmx

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
